body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.form-container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-logo {
    display: block; /* Trata a imagem como um bloco */
    margin-left: auto; /* Centraliza o bloco horizontalmente */
    margin-right: auto;
    margin-bottom: 20px; /* Adiciona um espaço abaixo da imagem */
    max-width: 150px; /* Define um tamanho máximo para o logo */
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-bottom: 25px;
    color: #7f8c8d;
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    margin-bottom: 15px;
    transition: border-color 0.3s;
}


input:focus, select:focus, textarea:focus {
    border-color: #3498db;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #3498db;
    text-decoration: none;
}